@use '~@angular/material' as mat;
@use '~@angular/flex-layout/mq' as mq;

@mixin invitation-events-theme($theme) {
    $primary-600: mat.get-color-from-palette(map-get($theme, primary), 600);
    $accent: mat.get-color-from-palette(map-get($theme, accent), 200);
    $background: mat.get-color-from-palette(map-get($theme, background), card);

    .invitation-events {
        &__container {
            background-color: $primary-600;
            height: 100%;

            &__buttons {
                padding: 10px 10px 0 10px;
            }

            &__content {
                background-color: $background;
                height: 100%;
                border-radius: 25px 25px 0 0;
                margin-top: 20px;
                padding: 20px 60px 0 60px;

                &__form {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 85px;
                    justify-items: center;

                    &__events {
                        margin-top: 20px;
                    }

                    &__add-schedule {
                        margin-top: 24px !important;

                        &--has-event {
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }

    .link {
        color: $accent;
        text-decoration: none;
        cursor: pointer;
    }

    .white:not(:disabled) {
        color: $background;
        .mat-checkbox-frame {
            border-color: $background !important;
        }
    }

    .h-100 {
        height: 100%;
    }

    .h-calc {
        height: calc(100% - 100px);
    }

    .h-85 {
        height: 85vh;
    }

    .w-100 {
        width: 100%;
    }
}
