<form fxLayout="column" [formGroup]="userPasswordForm">
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
    <mat-form-field appearance="outline" class="form-width">
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword" />
      <mat-error *ngIf="userPasswordForm.get('oldPassword').hasError('required')">
        Old password is required
      </mat-error>
      <mat-error *ngIf="!userPasswordForm.get('oldPassword').hasError('required')">
        Passwords must be at 8-28 characters and contain at least 1 uppercase, 1 lowercase, 1 number
        and 1 special character
      </mat-error>
    </mat-form-field>

    <div
      fxLayout.xs="column"
      fxLayoutAlign.xs="start stretch"
      fxLayoutGap.xs="16px"
      fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="start start"
      fxLayoutGap.gt-xs="24px"
    >
      <mat-form-field appearance="outline" fxFlex.gt-xs="33">
        <mat-label>New password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="userPasswordForm.get('password').hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="!userPasswordForm.get('password').hasError('required')">
          Passwords must be at 8-28 characters and contain at least 1 uppercase, 1 lowercase, 1
          number and 1 special character
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex.gt-xs="33">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="passwordConfirm" />
        <mat-error *ngIf="userPasswordForm.get('passwordConfirm').hasError('required')">
          Password confirmation is required
        </mat-error>
        <mat-error
          *ngIf="
            !userPasswordForm.get('passwordConfirm').hasError('required') &&
            userPasswordForm.get('passwordConfirm').getError('matchPassword')
          "
          >Passwords must match
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="onUpdate()"
      [disabled]="userPasswordForm.invalid"
      style="border-radius: 28px"
    >
      Save
    </button>
  </div>
</form>
