$black-fade: rgba(0, 0, 0, 0.6);

.mat-icon-button .mat-icon {
    color: $black-fade;
}

.select-members-list__container {
  padding-bottom: 16px;

  &__member {
      cursor: pointer;

      &__info {
          padding: 16px 16px 16px 0;

          .mat-body-2 {
              color: $black-fade;
          }
      }

      &__select-button {
          margin-right: 19px;
      }
  }
}
