<app-auth-layout [noBorder]="true" [maxWidth]="'460px'" [imageOptions]="imageOptions">
  <ng-container *ngIf="!isSubscriptionActive">
    <h1 class="text-primary--500 text-center mat-display-1">Checking your subscription status</h1>
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1 class="text-primary--500 text-center mat-title" style="margin-top: 20px">Please wait...</h1>
      <mat-spinner diameter="40" color="primary" style="margin-top: 10px"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="isSubscriptionActive">
    <h1 class="text-primary--500 text-center mat-display-2">Your subscription is active.</h1>

    <br />

    <p class="text-center mat-input" *ngIf="seconds > 0">
      Redirecting to the application in {{ seconds }} seconds...
    </p>
    <p class="text-center mat-input" *ngIf="seconds === 0">Redirecting...</p>

    <div fxLayout="column" fxLayoutAlign="center center">
      <p>or</p>

      <button
        mat-flat-button
        color="primary"
        type="button"
        fxFlexAlign="center"
        (click)="redirectToApp()"
      >
        go to application
      </button>
    </div>
  </ng-container>
</app-auth-layout>
