@use '~@angular/material' as mat;
@use '~@angular/flex-layout/mq' as mq;

@mixin theme($theme) {
    $primary: mat.get-color-from-palette(map-get($theme, primary), 500);

    .entity-stepper__text {
        text-align: end;
    }

    .entity-stepper__text {
        text-align: end;
    }

    .entity-stepper__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #e0e0e0;
        z-index: 2;
    }

    .progress-line {
        width: 2px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.12);

        &--active {
            background-color: $primary;
        }

        @include mq.layout-bp(xs) {
            height: 2px;
            width: 27px;
        }
    }

    

    @media (max-width: 320px) {
        .progress-line {
            width: 15px;
        }
    }

    .class-info__radio {
        position: relative;
        border-radius: 7px !important;
        padding: 4px 25px 0 25px;

        & mat-icon {
            width: 32px;
            height: 32px;
            font-size: 32px;
        }
        & mat-icon.check {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 12px;
            height: 12px;
            font-size: 12px;
        }
    }

    .disabled {
        opacity: 0.3;
    }
}
