.group-search-input {
    border: none;
    outline: none;
}

.input-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 16px 12px 0;

    &--focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);  
    }
}

.group-list__container {
    padding: 12px 0 0 8px;

    &__group {
        cursor: pointer;

        &__info {
            padding: 8px 8px 8px 0;

            .mat-body-2 {
                color: rgba(0, 0, 0, 0.6);
            }
        }

        &__schedule-button {
            margin-right: 10px;
        }
    }
}
