<ng-container *ngIf="vm$ | async as vm">
  <app-onboarding-dialog-text [text]="checkbox.text"></app-onboarding-dialog-text>

  <div class="onboarding__options-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="32px">
    <div *ngFor="let object of checkbox.objects; let i = index" style="width: 100%">
      <div *ngIf="object.type === PROPERTY_TYPE.OPTION">
        <div
          class="onboarding-checkbox__option"
          [class.onboarding-checkbox__option--default-border]="!vm[checkbox.key][i + 1]"
          [class.bg-primary--500]="vm[checkbox.key][i + 1]"
          [class.border-primary--200]="vm[checkbox.key][i + 1]"
          fxLayout
          fxLayoutGap="11px"
          (click)="vm[checkbox.key][i + 1] = !vm[checkbox.key][i + 1]"
        >
          <mat-checkbox
            color="primary"
            [value]="object.value.toString()"
            [(ngModel)]="vm[checkbox.key][i + 1]"
            [name]="checkbox.key + '__' + (i + 1)"
          >
          </mat-checkbox>
          <span class="mat-body-1" [class.text-primary-contrast--500]="vm[checkbox.key][i + 1]">
            {{ object.text }}
          </span>
        </div>
      </div>
    </div>
    <div *ngFor="let object of checkbox.objects; let i = index" style="width: 100%">
      <div *ngIf="object.type === PROPERTY_TYPE.OPTION">
        <div
          class="onboarding-checkbox__option"
          [class.onboarding-checkbox__option--default-border]="!vm[checkbox.key][i + 1]"
          [class.bg-primary--500]="vm[checkbox.key][i + 1]"
          [class.border-primary--200]="vm[checkbox.key][i + 1]"
          fxLayout
          fxLayoutGap="11px"
          (click)="vm[checkbox.key][i + 1] = !vm[checkbox.key][i + 1]"
        >
          <mat-checkbox
            color="primary"
            [value]="object.value.toString()"
            [(ngModel)]="vm[checkbox.key][i + 1]"
            [name]="checkbox.key + '__' + (i + 1)"
          >
          </mat-checkbox>
          <span class="mat-body-1" [class.text-primary-contrast--500]="vm[checkbox.key][i + 1]">
            {{ object.text }}
          </span>
        </div>
      </div>
    </div>
    <div
      class="onboarding-buttons-container"
      *ngIf="buttons.length"
      fxLayout
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <div *ngFor="let button of buttons">
        <app-onboarding-button
          [property]="checkbox"
          [vm]="vm"
          [button]="button"
        ></app-onboarding-button>
      </div>
    </div>
  </div>
</ng-container>
