<app-auth-layout>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <!-- Validating -->
    <ng-container *ngIf="!tokenVerified">
      <mat-spinner></mat-spinner>

      <div class="title mat-h1">Verifying account...</div>
    </ng-container>
    <ng-container *ngIf="tokenVerified">
      <!-- Account succeffully verified -->
      <ng-container *ngIf="tokenVerified.tokenValidated">
        <mat-icon color="primary">verified_user</mat-icon>

        <div class="mat-title">Account verified</div>

        <div class="mat-subheading-1 text-center">
          <p>Your account has been activated.</p>
        </div>

        <a fxFlexAlign="center" mat-stroked-button color="primary" [routerLink]="'/auth/login'">
          login
        </a>
      </ng-container>
      <!-- Account verification failed -->
      <ng-container *ngIf="tokenVerified.tokenValidated === false">
        <mat-icon color="warn">error</mat-icon>

        <div class="mat-title">Failed to validate</div>

        <div class="mat-subheading-1 text-center">
          <p>Invalid token or email has already been confirmed.</p>
        </div>

        <a fxFlexAlign="center" mat-stroked-button color="primary" [routerLink]="'/auth/login'">
          login
        </a>
      </ng-container>
    </ng-container>
  </div>
</app-auth-layout>

<!-- 

<div class="confirm-user">
    <div *ngIf="!tokenVerified" class="validating">
        <p>validating token</p>
    </div>
    <div *ngIf="tokenVerified" class="validated">
        <div *ngIf="tokenVerified.tokenValidated" class="sucess">
            <p>Token validated</p>
        </div>
        <div *ngIf="tokenVerified.tokenValidated === false" class="failed">
            <p>User already registered or the confirmation link is invalid</p>
        </div>
        <div class="login-redirect">
            <button mat-raised-button color="primary"
                class="submit-button" aria-label="Go to Login" (click)="loginRedirect()">
            Go to Login
            </button>
        </div>
    </div>
</div> -->
