<div class="navigation-bar">
  <div
    *ngIf="!isMobile"
    style="height: 56px; margin-bottom: 16px"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <app-eslo-logo></app-eslo-logo>
  </div>

  <ng-container style="width: 100%" *ngFor="let link of leftLinks; let i = index">
    <div
      *ngIf="
        (link.admin && hasAdminRole) ||
        (link.teacher && hasTeacherRole) ||
        (link.student && hasStudentRole)
      "
      class="navigation-bar__wrapper"
    >
      <button
        [disabled]="link.spacer"
        class="navigation-bar__button"
        matRipple
        [routerLink]="[link.path]"
        routerLinkActive="navigation-bar__button--active"
        [class.navigation-bar__button--active]="activeLink === link.path"
        [class.mat-elevation-z2]="!isMobile && getIsLinkActive(link.path)"
      >
        <mat-icon>{{ link.icon }}</mat-icon>
      </button>
    </div>
  </ng-container>

  <div *ngIf="isMobile" class="navigation-bar__wrapper" (clickOutside)="onClickedOutside()">
    <button
      class="navigation-bar__menu-button mat-elevation-z2"
      (click)="isOpen = !isOpen"
      matRipple
    >
      <div class="hamburger hamburger--spin" [class.is-active]="isOpen">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </button>
    <mat-card *ngIf="isOpen" class="navigation-bar__menu-card mat-elevation-z4">
      <ng-container style="width: 100%" *ngFor="let link of menuLinks; let i = index">
        <button
          *ngIf="
            (link.admin && hasAdminRole) ||
            (link.teacher && hasTeacherRole) ||
            (link.student && hasStudentRole)
          "
          [disabled]="link.spacer"
          class="navigation-bar__button"
          matRipple
          [routerLink]="[link.path]"
          routerLinkActive="navigation-bar__button--active"
          [class.navigation-bar__button--active]="activeLink === link.path"
          (click)="isOpen = false"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
        </button>
      </ng-container>
    </mat-card>
  </div>

  <ng-container style="width: 100%" *ngFor="let link of rightLinks; let i = index">
    <div
      *ngIf="
        (link.admin && hasAdminRole) ||
        (link.teacher && hasTeacherRole) ||
        (link.student && hasStudentRole && !isMobile && !link.spacer) ||
        (isMobile && (link.spacer || !link.spacer) && link.student && hasStudentRole)
      "
      class="navigation-bar__wrapper"
    >
      <button
        [disabled]="link.spacer"
        class="navigation-bar__button"
        matRipple
        [routerLink]="[link.path]"
        routerLinkActive="navigation-bar__button--active"
        [class.navigation-bar__button--active]="activeLink === link.path"
        [class.mat-elevation-z2]="!isMobile && getIsLinkActive(link.path)"
      >
        <mat-icon>{{ link.icon }}</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMobile">
    <ng-container style="width: 100%" *ngFor="let link of menuLinks; let i = index">
      <div
        *ngIf="
          (link.admin && hasAdminRole) ||
          (link.teacher && hasTeacherRole) ||
          (link.student && hasStudentRole && !isMobile && !link.spacer) ||
          (isMobile && (link.spacer || !link.spacer) && link.student && hasStudentRole)
        "
        class="navigation-bar__wrapper"
      >
        <button
          [disabled]="link.spacer"
          class="navigation-bar__button"
          matRipple
          [routerLink]="[link.path]"
          routerLinkActive="navigation-bar__button--active"
          [class.navigation-bar__button--active]="activeLink === link.path"
          [class.mat-elevation-z2]="!isMobile && getIsLinkActive(link.path)"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>
