<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <form
    name="resetPasswordForm"
    [formGroup]="resetPasswordForm"
    novalidate
    fxLayout="column"
    fxLayoutAlign="start stretch"
    (ngSubmit)="onResetPassword()"
  >
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="!resetPasswordForm.get('password').hasError('required')">
        Password must have at least 8 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="passwordConfirm" />
      <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
        Password confirmation is required
      </mat-error>
      <mat-error
        *ngIf="
          !resetPasswordForm.get('passwordConfirm').hasError('required') &&
          resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')
        "
      >
        Passwords must match
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      fxFlexAlign="center"
      color="primary"
      aria-label="RESET MY PASSWORD"
      type="submit"
      [disabled]="resetPasswordForm.invalid"
    >
      RESET MY PASSWORD
    </button>
  </form>

  <a mat-stroked-button color="primary" fxFlexAlign="center" [routerLink]="'/auth/login'">
    login
  </a>
</div>
