@use '../../../../styles/abstracts/variables' as vars;



.onboarding-radio__option {
    padding: 8px 16px;
    border-radius: 7px;
    cursor: pointer;

    &--default-border {
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
}
