<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <form
    name="forgoPasswordForm"
    [formGroup]="forgotPasswordForm"
    novalidate
    fxLayout="column"
    fxLayoutAlign="start stretch"
    (ngSubmit)="onSendEmail()"
  >
    <mat-form-field appearance="outline" class="text-default">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <p class="text-warn--500 text-center" *ngIf="error">{{ error }}</p>

    <button
      fxFlexAlign="center"
      mat-flat-button
      color="primary"
      type="submit"
      aria-label="SEND"
      [disabled]="forgotPasswordForm.invalid"
    >
      SEND
    </button>
  </form>

  <a fxFlexAlign="center" mat-stroked-button color="primary" [routerLink]="'/auth/login'">
    login
  </a>
</div>
